myenv
__pycache__
.gradio
.venv
.env
.env.*
!.env.example
.github
# LanceDB files
shared_data/.lancedb/
shared_data/.lancedb/**/*
shared_data/videos/yt_video/blackholes101nationalgeographic/audio.mp3
mm_rag/embeddings/__pycache__/
mm_rag/embeddings/__pycache__/**
.DS_Store
.devcontainer/
